<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.baizhi.dao.UserDao">

    <sql id="querySql">
      id,photo,name,nickName,password,salt,status,sign,phone,crea_date,guru_id
    </sql>

    <select id="queryByPage" resultType="User">
        select
        <include refid="querySql"/>
        from user limit #{start},#{rows}
    </select>

    <select id="queryRecords" resultType="Integer">
        select count(id) from user
    </select>

    <update id="update" parameterType="User">
        update user
        <set>
            <if test="photo!=null">photo=#{photo},</if>
            <if test="name!=null">name=#{name},</if>
            <if test="nickName!=null">nickName=#{nickName},</if>
            <if test="password!=null">password=#{password},</if>
            <if test="salt!=null">salt=#{salt},</if>
            <if test="status!=null">status=#{status},</if>
            <if test="sign!=null">sign=#{sign},</if>
            <if test="phone!=null">phone=#{phone},</if>
            <if test="crea_date!=null">crea_date=#{crea_date},</if>
            <if test="guru_id!=null">guru_id=#{guru_id},</if>
        </set>
        where id=#{id}
    </update>

</mapper>
